ARK_API_KEY=your_ark_api_key_here
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
SEEDANCE_MODEL_ID=doubao-seedance-2-0-260128
SEEDANCE_FAST_MODEL_ID=doubao-seedance-2-0-fast-260128
VLM_MODEL_ID=doubao-seed-2-0-pro-260215
SEEDREAM_MODEL_ID=doubao-seedream-5-0-260128
