[submodule "Agent-Reach"]
	path = Agent-Reach
	url = https://github.com/Panniantong/Agent-Reach.git
[submodule "xiaohongshu-hot-content-generator/skills/xiaohongshu-skills"]
	path = xiaohongshu-hot-content-generator/skills/xiaohongshu-skills
	url = https://github.com/autoclaw-cc/xiaohongshu-skills.git
